---
import SearchBar from '../SearchBar/SearchBar.jsx';
---

<nav class="navRef">
    <div class="navbar-container flex">
      <div class="col-5 hide-sm">
        <ul>
            <li>Design</li>
            <li>Woman</li>
            <li>Man</li>
        </ul>
      </div>
      <div class="col-3 hide-sm"></div>
      <div class="col-4 flex justifyFlexEnd alignCenter w-100-sm pr-20-sm">
        <SearchBar client:visible/>
        <span class="cart-icon hide-sm">
          <svg width="30" height="38" viewBox="0 0 30 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.7232 0C16.26 0.130073 16.8062 0.213692 17.3245 0.399511C20.2866 1.4401 22.1656 4.02298 22.2952 7.18191C22.2952 7.26553 22.3045 7.35844 22.3137 7.4978C22.4341 7.4978 22.5451 7.4978 22.6655 7.4978C23.6096 7.4978 24.563 7.48851 25.5072 7.4978C27.09 7.50709 28.173 8.56626 28.2934 10.1643C28.5155 13.1374 28.7654 16.1012 28.9969 19.065C29.2098 21.713 29.4134 24.3609 29.617 27.0088C29.7281 28.4024 29.8207 29.7961 29.9595 31.1804C30.302 34.7203 27.5714 37.8885 24.0262 37.9628C21.3326 38.0186 18.6297 37.9814 15.9361 37.9814C12.6963 37.9814 9.45659 37.9907 6.21685 37.9814C3.30109 37.9721 0.94996 36.1418 0.181679 33.3081C-0.096013 32.2861 0.0058074 31.2455 0.089115 30.2142C0.274243 27.8636 0.459371 25.513 0.644499 23.1623C0.857396 20.4866 1.07029 17.82 1.28319 15.1443C1.41278 13.4812 1.56088 11.8181 1.67196 10.155C1.78304 8.55697 2.87529 7.50709 4.45814 7.4978C5.51337 7.48851 6.5686 7.4978 7.5868 7.4978C7.70713 6.7824 7.77193 6.09487 7.93854 5.43521C8.66054 2.62934 11.0672 0.501711 13.9274 0.0929095C14.0385 0.0743276 14.1403 0.0371638 14.2422 0.00929095C14.742 0 15.2326 0 15.7232 0ZM20.0829 9.74621C16.6581 9.74621 13.2795 9.74621 9.88239 9.74621C9.88239 10.6474 9.89165 11.5301 9.88239 12.4034C9.87313 13.0724 9.41031 13.5555 8.79013 13.5648C8.1607 13.5741 7.67937 13.0817 7.67011 12.3941C7.66085 12.0504 7.67011 11.6973 7.67011 11.3535C7.67011 10.8147 7.67011 10.2758 7.67011 9.70905C6.57785 9.70905 5.53188 9.70905 4.48591 9.70905C4.05086 9.70905 3.92127 9.83912 3.8935 10.2851C3.79168 11.6044 3.68986 12.9237 3.57878 14.243C3.33811 17.1976 3.1067 20.1521 2.86604 23.1159C2.65314 25.8381 2.45875 28.5604 2.20883 31.2826C1.98668 33.754 3.74539 35.7516 6.21685 35.7516C12.0576 35.7609 17.8892 35.7609 23.73 35.7516C26.1922 35.7516 27.9509 33.7726 27.738 31.3198C27.4418 27.7521 27.1641 24.1751 26.8771 20.6073C26.5995 17.1604 26.331 13.7042 26.0626 10.2572C26.0348 9.84841 25.8867 9.72763 25.4702 9.71834C24.489 9.71834 23.4986 9.71834 22.5174 9.71834C22.4526 9.71834 22.3785 9.73692 22.2952 9.74621C22.2952 10.6196 22.3137 11.4743 22.286 12.3198C22.2767 12.6078 22.1656 12.933 22.0083 13.1746C21.7491 13.5555 21.2493 13.6577 20.8142 13.4998C20.3791 13.3418 20.0922 12.9423 20.0829 12.4406C20.0829 11.5487 20.0829 10.666 20.0829 9.74621ZM20.0922 7.47922C20.0459 5.48166 19.2499 3.93007 17.5374 2.93594C15.7417 1.89535 13.8997 1.96039 12.1595 3.10318C10.6229 4.11589 9.9009 5.61174 9.87313 7.47922C13.298 7.47922 16.6673 7.47922 20.0922 7.47922Z" fill="black"/>
          </svg>
        </span>
      </div>
    </div>
</nav>

<style lang="scss">
  nav {
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
        text-transform: uppercase;
        display: inline;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        a {
            color: #f2f2f2;
            text-decoration: none;
            padding: 14px;
            &:hover {
            background-color: #111;
            }
        }
        }
    }

    .navbar-container {
        padding: 10px 40px 10px 250px;
        .cart-icon {
          padding-left: 70px;
          svg {
            height: 24px;
          }
        }

        @media (max-width: 1300px) {
          padding: 10px 150px 50px;
        }

        @media (max-width: 1100px) {
          padding: 10px 50px 50px;
        }

        @media (max-width: 860px) {
          padding: 10px 0 50px;
        }
      }
    }
</style>